[interpreters.msc]
command = 'C:\Windows\System32\mmc.exe'

[interpreters.sh]
command = '{{ .chezmoi.homeDir }}\Toolkit\msys64\msys2_shell.cmd'
args = [ "-defterm", "-here", "-no-start", "-ucrt64" ]

[interpreters.ps1]
command = '{{ .chezmoi.homeDir }}\scoop\shims\pwsh.exe'
