[interpreters.msc]
command = 'C:\Windows\System32\mmc.exe'

[interpreters.sh]
command = 'C:\Users\Warender\Toolkit\msys64\usr\bin\bash.exe'

[interpreters.ps1]
command = 'C:\Program Files\WindowsApps\Microsoft.PowerShell_7.4.2.0_x64__8wekyb3d8bbwe\pwsh.exe'
